<div class="row p-3">
  <div class="col-6">
    <filter-dropdown [options]="options"></filter-dropdown>
  </div>
  <div class="col-6">
    <div class="float-right" >
      <button mat-raised-button class="button-approve" *ngIf="isAllSelected()">Approve All</button>
    </div>
  </div>
</div>
<div>
  <mat-table [dataSource]="dataSource" matSort>


    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </mat-cell>
    </ng-container>


    <ng-container matColumnDef="approval_type">
      <mat-header-cell *matHeaderCellDef> {{displayedColumnValue[1]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.approval_type}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="approval_level">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> {{displayedColumnValue[2]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.approval_level}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="submitted_by">
      <mat-header-cell  *matHeaderCellDef mat-sort-header> {{displayedColumnValue[3]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.submitted_by}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="submitted_on">
      <mat-header-cell *matHeaderCellDef mat-sort-header> {{displayedColumnValue[4]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.submitted_on}} </mat-cell>
    </ng-container>

   <!-- <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef> Details</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" (click)="showDetails(element.id)">
        <mat-icon>menu</mat-icon>
        </button>
      </td>
    </ng-container>-->
    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef class="th-right"> {{displayedColumnValue[6]}} </mat-header-cell>
      <mat-cell *matCellDef="let element"  (click)="$event.stopPropagation()"  class="th-right">
        <button mat-raised-button class="button-approve" (click)="approve(element.id)">{{displayedColumnValue[6] | uppercase}} </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="action2">
      <mat-header-cell  *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element" (click)="$event.stopPropagation()"  class="th-center">
        <button mat-raised-button class="button-reject" (click)="reject(element.id)">{{displayedColumnValue[7] | uppercase}}</button>
      </mat-cell>
    </ng-container>

    <mat-header-row  *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="showDetails(row)"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

<!--<div>
  <button  mat-raised-button (click)="logSelection()">Console Log Selected</button>
</div>-->

