<div class="container-sm">
  <p-overlayPanel #op [showCloseIcon]="false" [style]="{width: '800px'}">
    <div class="row">
      <div class="col-11 font-bold">Category</div>
      <div class="col-1 font-bold"><i class="pi pi-times "></i></div>
    </div>
    <p-divider></p-divider>
    <div class="row" *ngFor="let workspace of workspaceCategoryDetails" style="background-color: #FBFBFB ;padding-left: 1rem !important; padding-bottom: 1rem !important; ">
      <div class="col-12 font-bold" style="padding: .5rem">{{workspace.workspaceName}}</div>
      <div class="col-2 font-bold" *ngFor="let category of workspace.categories">
        <input class="form-check-input" type="checkbox" value="{{category.categoryId}}" id="{{category.categoryId}}">
        <label class="form-check-label" for="{{category.categoryId}}">
          {{category.categoryName}}
        </label>
      </div>
    </div>
    <div class="row">
    </div>
  </p-overlayPanel>

  <button type="button" pButton label="Filters" icon="pi pi-filter" class="btn-grey font-bold"
          (click)="op.toggle($event)"></button>
</div>
