<div class="container-sm">
  <p-overlayPanel #op [dismissable]="false" [showCloseIcon]="false" [style]="{width: '800px'}">
    <div class="row">
      <div class="col-11 font-bold">Category</div>
      <div class="col-1 font-bold"><i class="pi pi-times" (click)="op.hide()"></i></div>
    </div>

    <div class="row" *ngFor="let workspace of workspaceCategoryDetails"
         style="background-color: #FBFBFB; margin-left: 0px !important; margin-right: 0px !important;">
      <div class="col-12 font-bold" style="padding: .5rem">{{workspace.workspaceName}}</div>
      <div class="col-2 font-bold-12" *ngFor="let category of workspace.categories">
        <div class="p-field-checkbox">
          <p-checkbox name="group1" value="{{category.categoryId}}" [(ngModel)]="selectedValues"
                      inputId="{{category.categoryId}}" (click)="traceClick()"></p-checkbox>
          <label for="{{category.categoryId}}"> {{category.categoryName}}</label>
        </div>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="row">
      <div class="col-2 font-bold">
        <p-button styleClass="btn-grey" label="CLEAR" (click)="clearFilter()"></p-button>
      </div>
      <div class="col-8"></div>
      <div class="col-2 font-bold">
        <p-button styleClass="btn-grey" label="APPLY" (click)="applyFilter(); op.hide()"></p-button>
      </div>
    </div>
  </p-overlayPanel>

  <p-button styleClass="btn-filter font-bold" label="Filters" icon="pi pi-filter" badge="{{badgeCounter}}"
            badgeClass="p-badge-info"
            (click)="op.show($event); showSelectedValue()"></p-button>
</div>
