<div class="container-main rounded " style="margin-right: 1rem !important; padding: 1rem;">
  <div class="row" style="margin-right: 1rem !important;">
    <div class="col-3">
      <div class="col" style="padding-bottom: 1em;">Modules&nbsp;({{modules.length}})</div>
      <p-scrollPanel [style]="{width: '100%', height: '240px'}">
        <p-listbox [options]="modules" [(ngModel)]="selectedModule" optionLabel="name" [filter]="true"
                   (onClick)="displayService()"
        ></p-listbox>
      </p-scrollPanel>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-3">
      <div class="row" style="padding-bottom: 1em;">Services&nbsp;<span *ngIf="privileges && privileges.length>0"> ({{privileges?.length}})</span>
      </div>
      <p-scrollPanel [style]="{width: '100%', height: '240px'}">
        <p-listbox [options]="privileges" [(ngModel)]="selectedPrivilege" optionLabel="name" (onClick)="displayServiceDetails()"
                   [filter]="true"></p-listbox>
      </p-scrollPanel>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-5">
      <div class="row" style="padding-bottom: 1em;">Set Service Preferences</div>
      <div class="row">Channels Allowed</div>
      <div class="row">
        <div class="col-2 font-bold-12" *ngFor="let c of channels">
          <div class="p-field-checkbox">
            <p-checkbox name="group1" value="{{c.code}}" inputId="{{c.code}}"></p-checkbox>
            <label> {{c.name}}</label>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
      <div class="row">Users Allowed</div>
    </div>
  </div>
</div>
