<div class="container-main rounded " style="margin-right: 1rem !important; padding: 1rem;">
  <div class="row" style="margin-right: 1rem !important;">
    <div class="col-3">
      <app-filter-list label="Module" [dataCol]="modules"
                       (selectedDataEvent)="displayService($event)"></app-filter-list>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-3">
      <app-filter-list label="Services" [dataCol]="privileges"
                       (selectedDataEvent)="displayServiceDetails($event)"></app-filter-list>
    </div>
    <p-divider layout="vertical"></p-divider>
    <div class="col-5">
      <div class="row" style="padding-bottom: 1em;">Set Service Preferences</div>
      <div class="row">Channels Allowed</div>
      <div class="row">
        <div class="col-2 font-bold-12" *ngFor="let c of channels">
          <div class="p-field-checkbox">
            <p-checkbox name="group1" value="{{c.code}}" inputId="{{c.code}}"></p-checkbox>
            <label> {{c.name}}</label>
          </div>
        </div>
      </div>

      <div *ngIf="workspaceDetails.length>0">
        <p-divider></p-divider>
        <div class="row">Users Allowed</div>
        <div *ngFor="let workspace of workspaceDetails">
          <div class="row">
            {{workspace.workspaceName}}
          </div>
          <div class="row">
            <div class="col-3 font-bold-12" *ngFor="let c of workspace.categories">
              <div class="p-field-checkbox">
                <p-checkbox name="group1" value="{{c.categoryId}}" inputId="{{c.categoryId}}"></p-checkbox>
                <label> {{c.categoryName}}</label>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div *ngIf="levels.length>0">
        <p-divider></p-divider>
        <div class="row">Levels</div>
        <div class="row">
          <div class="col-2 font-bold-12" *ngFor="let c of levels">
            <div class="p-field-checkbox">
              <p-checkbox name="group1" value="{{c.code}}" inputId="{{c.code}}"></p-checkbox>
              <label> {{c.name}}</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
